@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato/Lato-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url(../fonts/Oswald/Oswald-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url(../fonts/Orbitron/Orbitron-Regular.ttf);
  font-weight: normal;
}

.svc {
  padding: 5px;
  width: 125px;
  height: 125px;
}

.center {
  vertical-align: middle;
  text-align: center;
}

.F14 {
  font-size: 10px;
  font-family: 'Orbitron';
}

.slider {
  width: auto;
  height: 240px;
}

.searchbox {
  font-family: 'Orbitron';
  font-size: 12px;
}

.orbitron {
  font-family: 'Orbitron';
}

.lato {
  font-family: 'Lato';
}

.oswald {
  font-family: 'Oswald';
}

.bid {
  position: relative;
  display: block;
  text-align: center;
  padding: 0px 10px 0px 60px;
}

.navbar {
  background: #fff;
}

.nav-tabs>li, .nav-pills>li {
  float: none;
  display: inline-block;
  *display: inline;
  /* ie7 fix */
  zoom: 1;
  /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
  text-align: center;
}

.pad {
  padding: 10px;
}

@media screen and (min-width: 400px) {
  th {
    font-size: 14px;
    font-family: 'Lato';
  }
  td {
    font-size: 12px;
  }
}


/* Social Button */

.sos {
  background: #205D7A;
  color: #fff;
  width: 26px;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
}

.fa-facebook {
  background: #3b5998
}

.fa-linkedin {
  background: #007bb6
}

.fa-twitter {
  background: #00aced
}

.fa-google-plus {
  background: #dd4b39
}

.bold {
  font-weight: bold;
}


/**/


/* fade on slider */

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1 !important;
}

.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}
