@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato/Lato-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url(../fonts/Oswald/Oswald-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url(../fonts/Orbitron/Orbitron-Regular.ttf);
  font-weight: normal;
}

.svc {
  padding: 5px;
  width: 125px;
  height: 125px;
}

.center {
  vertical-align: middle;
  text-align: center;
}

.F14 {
  font-size: 10px;
  font-family: 'Orbitron';
}

.slider {
  width: auto;
  height: 240px;
}

.searchbox {
  font-family: 'Orbitron';
  font-size: 12px;
}

.orbitron {
  font-family: 'Orbitron';
}

.lato {
  font-family: 'Lato';
}

.oswald {
  font-family: 'Oswald';
}

.bid {
  position: relative;
  display: block;
  text-align: center;
  padding: 0px 10px 0px 60px;
}

.navbar {
  background: #fff;
}

.nav-tabs>li, .nav-pills>li {
  float: none;
  display: inline-block;
  *display: inline;
  /* ie7 fix */
  zoom: 1;
  /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
  text-align: center;
}

.cool {
  box-shadow: 1px 1px 1px 2px #000;
  border-radius: 0px;
}

.pad {
  padding: 10px;
}

@media screen and (min-width: 400px) {
  th {
    font-size: 14px;
    font-family: 'Lato';
  }
  td {
    font-size: 12px;
  }
}


/* Social Button */

.sos {
  background: #205D7A;
  color: #fff;
  width: 26px;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
}

.fa-facebook {
  background: #3b5998
}

.fa-linkedin {
  background: #007bb6
}

.fa-twitter {
  background: #00aced
}

.fa-google-plus {
  background: #dd4b39
}

.bold {
  font-weight: bold;
}


/**/


/* fade on slider */

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1 !important;
}

.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/* Button Outline */
.btn-default
{
color: #222222;
}

.btn-outline
{
background-color: transparent;
color: inherit;
border-width: 2px;
-webkit-transition: all 0.75s;
-moz-transition: all 0.75s;
transition: all 0.75s;
}

.btn-outline.btn-square
{
border-radius: 0;
}

.btn-outline.btn-primary
{
color: #428bca;
}

.btn-success.btn-outline
{
color: #5cb85c;
}

.btn-info.btn-outline
{
color: #5bc0de;
}

.btn-warning.btn-outline
{
color: #f0ad4e;
}

.btn-danger.btn-outline
{
color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover
{
color: #ccc;
}

.btn-default.btn-outline:hover
{
color: #666;
}

.colorCycle-Primary
{
background-color: #ffffff;
border-width: 2px;
color: #FFF;
animation-name: primary-color;
animation-duration:6s;
animation-direction:alternate;
animation-iteration-count:infinite;

-webkit-animation-name: primary-color;
-webkit-animation-duration:6s;
-webkit-animation-direction:alternate;
-webkit-animation-iteration-count:infinite;
}

@keyframes primary-color
{
0% {background-color:  #3276B1;}
25% {background-color: #255884;}
50% {background-color: #99BBD8;}
75% {background-color: #255884;}
}

@-webkit-keyframes Primary
{
0% {background-color: #3276B1;}
25% {background-color:#255884;}
50% {background-color:#99BBD8;}
75% {background-color:#255884;}
}

.colorCycle
{
background-color: #ffffff;
border-width: 2px;
color: #FFF;
animation-name: homeCycle;
animation-duration:6s;
animation-direction:alternate;
animation-iteration-count:infinite;

-webkit-animation-name: homeCycle;
-webkit-animation-duration:6s;
-webkit-animation-direction:alternate;
-webkit-animation-iteration-count:infinite;
}

@keyframes homeCycle
{
0% {background-color:#3276B1}
25% {background-color:#255884;}
50% {background-color:#CC3200;}
75% {background-color: #47a447;}
}

@-webkit-keyframes homeCycle
{
0% {background-color:#006;}
25% {background-color:#060;}
50% {background-color:#CC3200;}
75% {background-color:#603;}
}
